@import 'styles/colors';

.container {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: scroll;
}

.result {
	display: flex;
	border-style: solid;
	border-width: 0;
	border-top-width: 0.25rem;
	border-color: $border;
	background-color: $bg-light;
	padding-left: 0.5rem;
	padding-right:  0.5rem;

	&:last-child {
		border-bottom-width: 0.25rem;
	}
}
